In [1]:
# Parth korat
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\Korat-PC\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

In [6]:
url_2 = 'https://spaceimages-mars.com/'
browser.visit(url_2)

In [7]:
html_2 = browser.html
soup_2 = bs(html_2, 'html.parser')

In [8]:
featured_image_url = soup_2.find('img', {'class': "headerimage fade-in"})['src']

In [9]:
url_3 = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url_3)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
df = tables[0].drop(2, axis=1)
df

                         0                1
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [11]:
df2 = tables[1]
mars_facts_df = pd.concat([df, df2]).drop(0, axis=0).reset_index()

In [12]:
mars_facts_df_clean = mars_facts_df.drop('index', axis=1)

In [13]:
mars_facts_df_clean.columns = ['Properties', 'Mars']
mars_facts_df_clean

              Properties                           Mars
0              Diameter:                       6,779 km
1                  Mass:                6.39 × 10^23 kg
2                 Moons:                              2
3     Distance from Sun:                 227,943,824 km
4        Length of Year:                 687 Earth days
5           Temperature:                   -87 to -5 °C
6        Polar Diameter:                       6,752 km
7                  Mass:  6.39 × 10^23 kg (0.11 Earths)
8                 Moons:          2 ( Phobos & Deimos )
9        Orbit Distance:       227,943,824 km (1.38 AU)
10         Orbit Period:           687 days (1.9 years)
11  Surface Temperature:                   -87 to -5 °C
12         First Record:              2nd millennium BC
13          Recorded By:           Egyptian astronomers

In [14]:
html_mars_ftable = mars_facts_df_clean.to_html()
html_mars_ftable.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Properties</th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>6</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>7</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>8</th>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>9</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>10</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>11</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>12</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>13</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [15]:
url_4 = 'https://marshemispheres.com/'
browser.visit(url_4)

In [16]:
html_3 = browser.html
soup_3 = bs(html_3, 'html.parser')

In [17]:
hrefs = soup_3.findAll('h3')
hemisphere_image_urls = []

In [18]:
for i in range(len(hrefs)-1):
    browser.links.find_by_partial_text(hrefs[i].text).click()
    html_i = browser.html
    soup_i = bs(html_i, 'html.parser')
    
    hemisphere_image_urls.append({'title': hrefs[i].text, 
                                'img_url': browser.links.find_by_partial_text('Sample')[0]['href']})
    browser.visit(url_4)
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]